@page "/vm/overzicht"
@using VirtualIT.Client.Pages.VirtualMachines.CustomColumns
@using VirtualIT.Domain.Common
@using VirtualIT.Domain.Beheerders
@using VirtualIT.Shared.VirtualMachines
@using GridShared
@using GridShared.Utility
@using Microsoft.Extensions.Primitives
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<PageTitle>Virtual Machines</PageTitle>

<div class="titleBox">
    <span class="oi oi-magnifying-glass title-icon" aria-hidden="true" />

    <p data-test-id="pagina-titel" class="pageTitle">Overzicht virtuele machines</p>
</div>

<div class="top-row px-4" data-test-id="VM-overview" />

@if (_task.IsCompleted) {
    <GridComponent T="VirtualMachineDto.Detail" Grid="@_grid"></GridComponent>

}
else {
    <p><em>Loading...</em></p>
}

