@using GridShared.Columns
@using VirtualIT.Shared.Klanten
@implements ICustomGridComponent<KlantDto.Index>
@inject NavigationManager NavigationManager

<button class='btn btn-sm btn-primary' @onclick="MyClickHandler"><span class="oi oi-magnifying-glass" aria-hidden="true" /></button>

@code {
    [Parameter]
    public KlantDto.Index Item { get; set; }

    [Parameter]
    public CGrid<KlantDto.Index> Grid { get; set; }

    [Parameter]
    public object Object { get; set; }

    private void MyClickHandler(MouseEventArgs e) {
        string gridState = Grid.GetState();
        string returnUrl = (string)Object;
        NavigationManager.NavigateTo($"/klant/{Item.Id}");
    }
}